__pycache__/

# Django stuff:
*.sqlite3
local_settings.py
personalwebpage-443911-6ab16edcdc0e.json
django/media/
django/migrations/


# Folders
venv/
postgres_data/
astro-airflow/

# Docker
.docker/

# Logs and temporary files
*.log
*.pid
*.sock
