# Compilation
__pycache__/
*.py[cod]

# Django stuff:
*.sqlite3
local_settings.py
personalwebpage-443911-6ab16edcdc0e.json
django/media/
django/migrations/
django/node_modules/
conf.d

# Folders
venv/
postgres_data/

# Docker
.docker/

# Logs and temporary files
*.log
*.pid
*.sock

# Personal
secrets.py