{% extends 'base.html' %}

{% block content %}

<h2>Literature</h2>

<!-- Search Form -->
<form method="GET" action="">
    <input type="text" name="query" placeholder="Search" value="{{ request.GET.query }}">
    <input type="submit" value="Search">
</form>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-7"> <!-- Adjust for responsiveness -->
        
            <!-- Table of Literature -->
            <table class="table table-light">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Author</th>
                        <th scope="col">Title</th>
                        <th scope="col">Tags</th>
                    </tr>
                </thead>
                <tbody>
                    {% if objects %}
                        {% for i in objects %}
                            <tr>
                                <th>{{ forloop.counter }}</th>
                                <td>{{ i.author }}</td>
                                <td><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></td>
                                <td>{{ i.description }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4" class="text-center">No literature found.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock content %}
