{% extends 'base.html' %}

{% block title %}Velkommen{% endblock %}

{% block content %}

<div class="container mt-4">
    <div class="container mt-4">
        {% for news in news_items %}
        <div class="card p-4 shadow" style="background-color: #f9f9f9;">
            <div class="card-body">
                <h5 class="card-title">{{ news.title }}</h5>
                <!-- Use the linebreaks filter here -->
                <p class="card-text">{{ news.content|linebreaks }}</p>
                {% for image in news.images.all %}
                    <img src="{{ image.image.url }}" alt="{{ news.title }}" class="img-fluid">
                {% endfor %}
                <small class="text-muted">{{ news.date_posted }}</small>
            </div>
        </div>
        {% empty %}
        <p>No news available.</p>
        {% endfor %}
    </div>

</div>

{% endblock %}
