{% extends 'base.html' %}

{% block title %}Velkommen{% endblock %}

{% block content %}

<div class="container mt-4">
    <div class="card p-4 shadow" style="background-color: #f9f9f9;">
        <h3>Welcome</h3>
        <p>This website contains tools developed by J.M. Kirstein.</p>
        <p>To Access the tools, request a user login.</p>
    </div>

    <div class="card p-4 shadow" style="background-color: #f9f9f9;">
        <h3>The Literature Application</h3>
        <p>The literature application is a simple application that provides a search function to all uploadet literature. The serach function searches on title, author and tags, that may have been included with the literature file during upload. The database is located on google cloud and the data is transferred using Apache HTTP Server. A user login is required to use the application, and only admin users can upload new items.</p>
    </div>



</div>


<!--
<h1>Ideer</h1>
<p>ML på CPT'ere (qc) evt boringer (Cv) for structure 12 geoteknisk data. </p>
<p>ML ULS beregninger med flere forskellige jordlag via optum</p>
<p>ML på SLS beregninger og stivhedsresponse i flere retninger, evt med flere forskellige jordlag via Plaxis</p>
-->

{% endblock %}
