{% extends 'base.html' %}

{% block title %}Velkommen{% endblock %}

{% block content %}

<div class="container mt-4">
    <div class="card p-4 shadow" style="background-color: #f9f9f9;">
        <h3>Welcome</h3>
        <p>This website contains tools developed by J.M. W. Kirstein.</p>
    </div>

</div>


<!--
<h1>Ideer</h1>
<p>ML på CPT'ere (qc) evt boringer (Cv) for structure 12 geoteknisk data. </p>
<p>ML ULS beregninger med flere forskellige jordlag via optum</p>
<p>ML på SLS beregninger og stivhedsresponse i flere retninger, evt med flere forskellige jordlag via Plaxis</p>
-->

{% endblock %}
